        <footer id="footer">
            <nav>
                <a href="/"><img src="/img/Logo_nav.svg" alt=""></a>
                <div class="links">
                    <a href="/" class="link">
                        <p>Главная</p>
                    </a>
                    <a href="/" class="link">
                        <p>Контакты</p>
                    </a>
                    <a href="/" class="link">
                        <p>Развитие платформы</p>
                    </a>
                    <a href="/" class="link">
                        <p>Партнерская программа</p>
                    </a>
                    <a href="/" class="link">
                        <p>Политика конфиденциальности</p>
                    </a>
                </div>
            </nav>
           <div class="foot">
                <div class="line">
                    <h2 style="color: var(--mainwhite);">вдохновение, <br>качество <br>и результат.</h2>
                    <p style="color: var(--mainwhite);">© LineStok - Copyright <span id="copyright-year">2026</span></p>
                </div>
                <div class="foot_link">
                    <div style="width: 130px;" class="clm_links">
                        <h3>Навигация</h3>
                        <a href="/lenta">Лента</a>
                        <a href="/orders">Вакансии</a>
                        <a href="/#cta">Для партнеров</a>
                        <a href="/#platform">О платформе</a>
                        <div class="social-links">
                            <a href="https://max.ru" target="_blank" rel="noopener noreferrer"><img src="/img/Max_logo 1.svg" alt=""></a>
                            <a href="https://vk.com" target="_blank" rel="noopener noreferrer"><img src="/img/VK Logo White 1.svg" alt=""></a>
                            <a href="https://t.me" target="_blank" rel="noopener noreferrer"><img src="/img/telegram_logo_icon_144811 1.svg" alt=""></a>
                        </div>
                    </div>
                    <div class="clm_links">
                        <h3>Документы</h3>
                        <a href="/#footer">Договор оферты</a>
                        <a href="/#footer">Политика конфиденциальности</a>
                        <a href="/#footer">Согласие на обработку персональных данных </a>
                        <a href="/#footer">Согласие на получение рекламных рассылок</a>
                    </div>
                    <div class="clm_links">
                        <div class="link_blok">
                            <h5 >Адрес</h5>
                            <a href="https://maps.google.com/?q=Оренбург+ул.+Чкалова+11" target="_blank" rel="noopener noreferrer">г. Оренбург, <br>ул.Чкалова, д.11</a>
                        </div>
                        <div class="link_blok">
                            <h5 >Телефон</h5>
                            <a  href="tel:+79878721968">+7 987 872 19-68 </a>
                        </div>
                        <div class="link_blok">
                            <h5 >Почта</h5>
                            <a href="mailto:Linx05@yandex.ru">Linx05@yandex.ru</a>
                        </div>
                    </div>
                </div>
           </div>
           <div class="btn-back">
                <a href="#hero" class="bg-back">
                    <p>/Вернуться к началу</p>
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.8">
                        <rect x="0.5" y="0.5" width="39" height="39" rx="19.5" stroke="#F3F7F6"/>
                        <path d="M19 29.2534C19 29.8057 19.4477 30.2534 20 30.2534C20.5523 30.2534 21 29.8057 21 29.2534H20H19ZM20.7071 10.0396C20.3166 9.64903 19.6834 9.64903 19.2929 10.0396L12.9289 16.4035C12.5384 16.794 12.5384 17.4272 12.9289 17.8177C13.3195 18.2083 13.9526 18.2083 14.3431 17.8177L20 12.1609L25.6569 17.8177C26.0474 18.2083 26.6805 18.2083 27.0711 17.8177C27.4616 17.4272 27.4616 16.794 27.0711 16.4035L20.7071 10.0396ZM20 29.2534H21L21 10.7467H20H19L19 29.2534H20Z" fill="#F3F7F6"/>
                        </g>
                    </svg>
                </a>
           </div>
        </footer>
