<% if (currentUser) { %>
                <div class="cont1">
                    <a class="header_link" href="">
                        Услуги
                    </a>
                    <a class="header_link" href="">
                        Заказы
                    </a>
                    <a class="header_link" href="">
                        Биржа
                    </a>
                    <a class="header_link" href="">
                        Портфолио
                    </a>
                    <a class="header_link" href="">
                        Сообщения
                    </a>
                </div>
                <div class="cont2">
                    <div class="count">
                        <p>4 4862</p>
                        <div class="rubl">
                           <p> ₽</p>
                        </div>
                    </div>
                    <div class="notific">
                        <svg class="header_us_not" width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9 1C12.3137 1 15 3.68624 15 6.99995C15 8.9131 15 10.8341 15 12C15 15 17 16 17 16L1 16C1 16 3 15 3 12C3 10.8341 3 8.9131 3 6.99995C3 3.68624 5.68629 1 9 1Z" stroke="#393939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7 16C7 17.1046 7.89543 18 9 18C10.1046 18 11 17.1046 11 16" fill="#393939"/>
                            <path d="M7 16C7 17.1046 7.89543 18 9 18C10.1046 18 11 17.1046 11 16" stroke="#393939" stroke-linecap="round"/>
                        </svg>
                        <span class="notific-badge">10</span>
                        <div class="dropdown dropdown-notific">
                            <div class="notif_under">
                                <h2>Новые</h2>
                                <div class="stroke_notific">
                                    <div class="warning-notific">
                                        <h3>Ваш проект <span>SPRINNT</span> был удален</h3>
                                        <p>Причина:<span class="p-reason">Неприемлемое содержание</span></p>
                                        <div class="data-time">
                                            <p>10.03.2026</p>
                                            <p>12:30</p>
                                        </div>
                                    </div>
                                    <div class="published-notific">
                                        <h3>Ваш проект <span>SPRINNT</span> был опубликован</h3>
                                        <p>Ваш проект был одобрен и опубликован</p>
                                        <div class="data-time">
                                            <p>10.03.2026</p>
                                            <p>12:30</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="notif_under">
                                <h2>Просмотрено</h2>
                                <div class="stroke_notific">
                                    <div class="warning-notific">
                                        <h3>Ваш проект <span>SPRINNT</span> был удален</h3>
                                        <p>Причина:<span class="p-reason">Неприемлемое содержание</span></p>
                                        <div class="data-time">
                                            <p>10.03.2026</p>
                                            <p>12:30</p>
                                        </div>
                                    </div>
                                    <div class="published-notific">
                                        <h3>Ваш проект <span>SPRINNT</span> был опубликован</h3>
                                        <p>Ваш проект был одобрен и опубликован</p>
                                        <div class="data-time">
                                            <p>10.03.2026</p>
                                            <p>12:30</p>
                                        </div>
                                    </div>
                                    <div class="admin-notific">
                                        <h3><span>Ваш пароль</span> был успешно изменен</h3>
                                        <div class="data-time">
                                            <p>10.03.2026</p>
                                            <p>12:30</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user">
                        <div class="user-img-nav">
                            <svg class="header_us_not" width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.61621 14.4033H11.3838C15.3137 14.4034 18.4998 17.5895 18.5 21.5195V21.6602C16.1165 23.4037 13.1808 24.4336 10 24.4336C6.81935 24.4336 3.88335 23.4033 1.5 21.6602V21.5195C1.50018 17.5894 4.68628 14.4033 8.61621 14.4033Z" stroke="#393939" stroke-width="3"/>
                                <path d="M10.001 1.5C12.0926 1.5 13.7889 3.19552 13.7891 5.28711C13.7891 7.37881 12.0927 9.0752 10.001 9.0752C7.90939 9.07506 6.21387 7.37873 6.21387 5.28711C6.214 3.19561 7.90947 1.50014 10.001 1.5Z" stroke="#393939" stroke-width="3"/>
                            </svg>
                        </div>
                        <svg  class="arrow_user" width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.75 3.33594L4.45711 1.04304C4.06658 0.65252 3.43342 0.65252 3.04289 1.04304L0.75 3.33594" stroke="#393939" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>

                        <div class="dropdown dropdown-user">
                            <div class="dropdown-user-avatar">
                                <div class="users">
                                    <div class="users-img-dropdown">
                                        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M35.0033 68.8394C53.6933 68.8394 68.8445 53.6881 68.8445 34.9982C68.8445 16.3082 53.6933 1.15698 35.0033 1.15698C16.3133 1.15698 1.16211 16.3082 1.16211 34.9982C1.16211 53.6881 16.3133 68.8394 35.0033 68.8394Z" fill="#393939"/>
                                            <path d="M56.2597 59.4595V61.332C50.4497 66.03 43.0535 68.8435 34.9996 68.8435C26.9464 68.8435 19.5494 66.03 13.7402 61.3336V59.4594C13.7402 49.3428 21.9414 41.1409 32.058 41.1409H37.942C48.0586 41.141 56.2597 49.343 56.2597 59.4595Z" fill="#F3F7F6"/>
                                            <path d="M35.0064 36.1928C41.2145 36.1928 46.2472 31.1601 46.2472 24.952C46.2472 18.7439 41.2145 13.7112 35.0064 13.7112C28.7983 13.7112 23.7656 18.7439 23.7656 24.952C23.7656 31.1601 28.7983 36.1928 35.0064 36.1928Z" fill="#F3F7F6"/>
                                            <path d="M35 70C30.2756 70 25.6917 69.0745 21.3761 67.2491C17.2081 65.4862 13.4652 62.9628 10.2512 59.7488C7.03729 56.5348 4.51384 52.7919 2.7509 48.624C0.925511 44.3083 0 39.7245 0 35C0 30.2756 0.925511 25.6918 2.7509 21.3761C4.51384 17.2081 7.03729 13.4652 10.2512 10.2512C13.4652 7.0372 17.2081 4.51376 21.3761 2.75091C25.6917 0.925514 30.2756 0 35 0C39.7245 0 44.3082 0.925514 48.6239 2.75091C52.7919 4.51376 56.5348 7.0372 59.7488 10.2512C62.9627 13.4652 65.4861 17.2081 67.2491 21.3761C69.0745 25.6917 70 30.2756 70 35C70 39.7245 69.0745 44.3082 67.2491 48.624C65.4861 52.7919 62.9627 56.5349 59.7488 59.7488C56.5348 62.9628 52.7919 65.4862 48.6239 67.2491C44.3082 69.0744 39.7246 70 35 70ZM35 2.31754C30.5874 2.31754 26.3073 3.18149 22.2789 4.8854C18.3872 6.53142 14.8918 8.88815 11.89 11.8899C8.88807 14.8918 6.53142 18.3872 4.8854 22.2788C3.1815 26.3073 2.31754 30.5873 2.31754 35C2.31754 39.4126 3.1815 43.6926 4.8854 47.721C6.53142 51.6128 8.88807 55.108 11.89 58.1099C14.8919 61.1118 18.3872 63.4684 22.2789 65.1144C26.3073 66.8183 30.5874 67.6823 35 67.6823C39.4126 67.6823 43.6926 66.8183 47.7212 65.1144C51.6128 63.4684 55.1082 61.1117 58.11 58.1099C61.1119 55.108 63.4686 51.6127 65.1146 47.721C66.8185 43.6926 67.6824 39.4126 67.6824 35C67.6824 30.5874 66.8185 26.3073 65.1146 22.2788C63.4686 18.3871 61.1119 14.8918 58.11 11.8899C55.1081 8.88807 51.6128 6.53142 47.7212 4.8854C43.6926 3.18149 39.4126 2.31754 35 2.31754Z" fill="#393939"/>
                                        </svg>
                                    </div>
                                    <h3 class="user-name">Лиана Сисенова</h3>
                                    <p class="user-email">Linx05@yandex.ru</p>
                                </div>
                                <div class="switch">
                                    <input type="radio" name="userType" id="freelance" checked>
                                    <input type="radio" name="userType" id="customer">
                                    <div class="active-bg"></div>
                                    <label for="freelance">Я исполнитель</label>
                                    <label for="customer">Я заказчик</label>
                                </div>
                                <div class="user-link">
                                    <a href="" class="u-link">
                                        Профиль
                                    </a>
                                    <a href="" class="u-link">
                                        Настройки
                                    </a>
                                    <a href="" class="u-link">
                                        Поддержка
                                    </a>
                                </div>
                            </div>
                            <div class="exit">
                                <div class="exit-btn">
                                   <svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="27" height="28" rx="13.5" fill="#F2F2F2"/>
                                        <path d="M11.5545 18.3139C11.5545 17.9932 11.8231 17.7332 12.1545 17.7332H16.9545C17.0649 17.7332 17.1545 17.6466 17.1545 17.5397L17.1545 8.24937C17.1545 8.14248 17.0649 8.05582 16.9545 8.05582L12.1545 8.05582C11.8231 8.05582 11.5545 7.79586 11.5545 7.47518C11.5545 7.1545 11.8231 6.89453 12.1545 6.89453H16.9545C17.7277 6.89453 18.3545 7.50111 18.3545 8.24937V17.5397C18.3545 18.2879 17.7277 18.8945 16.9545 18.8945H12.1545C11.8231 18.8945 11.5545 18.6346 11.5545 18.3139Z" fill="#393939"/>
                                        <path d="M5.35449 13.7579C5.35449 14.1855 5.71266 14.5321 6.15449 14.5321H10.0393C10.0576 14.8073 10.0806 15.0822 10.1082 15.3569L10.1319 15.5931C10.1705 15.9773 10.5921 16.2074 10.9517 16.0406C12.4141 15.3624 13.7379 14.4343 14.8596 13.301L14.8835 13.2768C15.0972 13.0609 15.0972 12.7204 14.8835 12.5045L14.8596 12.4803C13.7379 11.3469 12.4141 10.4189 10.9517 9.74066C10.5921 9.57384 10.1705 9.80392 10.1319 10.1881L10.1082 10.4244C10.0806 10.699 10.0576 10.974 10.0393 11.2491L6.15449 11.2491C5.71267 11.2491 5.35449 11.5958 5.35449 12.0233V13.7579Z" fill="#393939"/>
                                    </svg>
                                    <a href="" class="link-exit">Выход</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<% } else { %>
<div class="cont2">
    <a class="header_link" href="/auth">Авторизация</a>
    <a class="header_link" href="/auth?mode=register">Регистрация</a>
</div>
<% } %>
